:root {
    --md-primary-fg-color: #003d6e;
}

/************************
Header Bar 
*********************** */
.md-header__button.md-logo img {
    height: 1rem;
    margin-top: 10px;
}

.md-header__topic {
    display: none;
}
